<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>New CAFC Opinion for Alert</h1>
		<p>New CAFC Opinion matching saved alert preferences has posted on <a href='http://cafc.uscourts.gov/opinions-orders' target="_blank" >http://cafc.uscourts.gov/opinions-orders</a>.
		</p>
		<p>Link to opinion: <%= link_to @litigation.name, @litigation.url %></p>
	</body>
</html> 