<!DOCTYPE html>
<html>
  <head>
    <title>Federal Circuit Monitoring</title>
    <%= csrf_meta_tags %>

    <!-- Bootstrap CSS -->
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
		<!-- Bootstrap JS -->
	    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
